/Hamster.class
/Main$Pets.class
/Main.class
/MainIteratorCollection$Car.class
/MainIteratorCollection.class
/MainListIterator.class
/MainRodent.class
/Mouse.class
/Rodent.class
/SequenceIterator$Sequence.class
/SequenceIterator.class
